<app-navbar-style-one></app-navbar-style-one>

<div _ngcontent-ng-c2723715018="" class="bigdata-feedback-area ptb-80">
    <div _ngcontent-ng-c2723715018="" class="container">
        <div _ngcontent-ng-c2723715018="" class="section-title mt-5">
            <h2 _ngcontent-ng-c2723715018="">Careers</h2>
            <div _ngcontent-ng-c2723715018="" class="bar"></div>
            <p _ngcontent-ng-c2723715018="">Join Our Team. Search open positions that match your skills and interest.
            </p><br _ngcontent-ng-c2723715018="">
            <div _ngcontent-ng-c2723715018="" class="row mt-2">
                <div _ngcontent-ng-c2723715018="" class="col-lg-6 col-md-6 col-sm-12 mb-3 mb-sm-0"
                    style="text-align: center;">
                    <div _ngcontent-ng-c2723715018="" class="others-option" style="background-color: white;"><a
                            _ngcontent-ng-c2723715018="" routerlink="/internship" class="btn btn-primary"
                            href="https://docs.google.com/forms/d/e/1FAIpQLSeYh0bFor_fUXWS-mOmo42gltZoiE6XsslnrAToW6LxlavPhA/viewform">Apply for Internships</a></div>
                </div>
                <div _ngcontent-ng-c2723715018="" class="col-lg-6 col-md-6 col-sm-12" style="text-align: center;">
                    <div _ngcontent-ng-c2723715018="" class="others-option" style="background-color: white;"><a
                            _ngcontent-ng-c2723715018="" routerlink="/fulltime" class="btn btn-primary"
                            href="/fulltime">Apply for Full-time role</a></div>
                </div>
            </div>
        </div>
    </div>
</div>