<app-navbar-style-one></app-navbar-style-one>

<div class="funfacts-area bg-image ptb-80 mt-5">
    <div class="container">
        <div class="section-title">
            <h2 class="pt-5">Senselive Devices
            </h2>
            <p class="pt-2">The Senselive Industrial IoT Platform can connect with any asset in a simple and non-invasive way thanks to the Edge AI Layer. This includes both legacy and modern machines, which can be connected through SenseLive Edge Devices or Agents installed on the machine or on the corporate IT/OT infrastructure.
            </p>
        </div>
    </div>
</div>

<!-- Services -->
<div class="ml-services-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>SenseLive Edge AI Layer Componenents
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/senselive/zeroagent.png" style="height: 100px; width: 100px;">
                    </div>
                    <h3>4ZeroAgent
                    </h3>
                    <p>A powerful Al on-the-edge microservice that allows reading and analysing data from any modern or legacy machines 4ZeroAgent runs on all Zerynth Edge Devices and on any hardware or IT infrastructure supporting container technology.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/senselive/zeroagent.png" style="height: 100px; width: 100px;">
                    </div>
                    <h3>4ZeroBox
                    </h3>
                    <p>Industrial IOT device for data acquistion, monitoring and control of industrial machines.                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/senselive/zeroagent.png" style="height: 100px; width: 100px;">
                    </div>
                    <h3>4Zero Gateway
                    </h3>
                    <p>Edge computing gateway for interfacing modern machinery and for Iot application.

                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/senselive/zeroagent.png" style="height: 100px; width: 100px;">
                    </div>
                    <h3>4ZeroBox Lite
                    </h3>
                    <p>Compact entry level industrial iot devices and data acquistion and machine monitoring

                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/senselive/zeroagent.png" style="height: 100px; width: 100px;">
                    </div>
                    <h3>4ZeroBox Mobile
                    </h3>
                    <p>Industrial Iot device designed for asset monitoringwith narrow band connectivity.
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/senselive/zeroagent.png" style="height: 100px; width: 100px;">
                    </div>
                    <h3>4Zero Node
                    </h3>
                    <p>Edge computing node for interfacing mofern machinary and for Iot application
                    </p>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/senselive/zeroagent.png" style="height: 100px; width: 100px;">
                    </div>
                    <h3>4ZeroBox
                    </h3>
                    <p>Industrial IOT device for data acquistion, monitoring and control of industrial machines.

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div _ngcontent-ng-c528047134="" class="iot-services-area ptb-80">
        <div _ngcontent-ng-c528047134="" class="container">
            <div _ngcontent-ng-c528047134="" class="row">
                <div _ngcontent-ng-c528047134="" class="col-lg-6 col-md-12 col-sm-12">
                    <div _ngcontent-ng-c528047134="" class="single-iot-services">
                        <div _ngcontent-ng-c528047134="" class="section-title">
                            <h2 _ngcontent-ng-c528047134="">Get Started!
                            </h2>
                        </div>
                        <p _ngcontent-ng-c528047134="">Book your personalized demo and speak with one of our IoT experts to discover the Senselive Platform’s key features and the benefits.

                        </p><a
                            _ngcontent-ng-c528047134="" routerlink="/" href="/"><i-feather
                                _ngcontent-ng-c528047134="" name="arrow-right" _nghost-ng-c3061231048=""><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                    class="feather feather-arrow-right">
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <polyline points="12 5 19 12 12 19"></polyline>
                                </svg></i-feather></a>
                    </div>
                </div>
                <div _ngcontent-ng-c528047134="" class="col-lg-6 col-md-12 col-sm-12">
                    <div _ngcontent-ng-c528047134="" class="single-iot-services">
                        <div _ngcontent-ng-c528047134="" class="section-title">
                            <h2 _ngcontent-ng-c528047134="">Work with Us</h2>
                        </div>
                        <p _ngcontent-ng-c528047134="">We’re IoT experts transforming the digital landscape and enabling
                            a new industrial age to your Career join our team to grow your career </p><a
                            _ngcontent-ng-c528047134="" routerlink="/contact" href="/contact"><i-feather
                                _ngcontent-ng-c528047134="" name="arrow-right" _nghost-ng-c3061231048=""><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                    class="feather feather-arrow-right">
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <polyline points="12 5 19 12 12 19"></polyline>
                                </svg></i-feather></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>