<app-navbar-style-one></app-navbar-style-one>

<div class="funfacts-area bg-image ptb-80 mt-5">
    <div class="container">
        <div class="section-title">
            <h2 class="pt-5">Senselive Devices
            </h2>
            <p class="pt-2">Senselive Industrial IoT Platform can connect with any asset in a simple and non-invasive way thanks to the Edge AI Layer. This includes both legacy and modern machines, which can be connected through SenseLive Edge Devices or Agents installed on the machine or on the corporate IT/OT infrastructure.
            </p>
        </div>
    </div>
</div>

<!-- Services -->
<div class="ml-services-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>SenseLive Edge IoT Devices
            </h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="../../../../assets/senselive/modsense.png" style="height: 170px; width: 100px;">
                    </div>
                    <a routerLink="/modsense"><h3>Modsense
                    </h3></a>
                    <p>The ModSense MS-2000 is a Serial-to-MQTT(GPRS) device, purpose-built for enabling efficient data transmission between RS485 devices and GPRS networks.  </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="../../../../assets/senselive/gateway.png" style="height: 170px; width: 170px;">
                    </div>
                    <h3>GatewayX
                    </h3>
                    <p>SenseLive is a BLE (Bluetooth Low Energy)
                        to POE (Power over Ethernet) Gateway. It
                        supports BLE 5.0, 2.4GHz WIFI, and
                        Ethernet, offering both wireless and wired
                        connectivity.

                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="../../../../assets/senselive/pulsewave.png" style="height: 170px; width: 170px;">
                    </div>
                    <h3>PulseWave
                    </h3>
                    <p>PulseWave Battery Operated IoT Node 
                        Connect Sensors with  4-20 mA, 0-10v or Rs485
                        

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="../../../../assets/senselive/" style="height: 170px; width: 100px;">
                    </div>
                    <h3>SL0 Emergency Button
                    </h3>
                    <p>The SL0 Emergency Button is a Bluetooth-enabled
                        device designed as a personal safety solution that
                        instantly triggers emergency help when needed.               </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="../../../../assets/senselive/tempms.png" style="height: 170px; width: 170px;">
                    </div>
                    <h3>Wireless Temperature Measuring system
                    </h3>
                    <p>The SLBT-A1-100  wireless temperature measuring equipment is ideal for 3-35kV and 0.4kV switchgear and displaying data locally. 
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="../../../../assets/senselive/bletag.png" style="height: 165px; width: 170px;">
                    </div>
                    <h3>SenseLive BLE-Tag SL0
                    </h3>
                    <p>The SL0 Emergency Button is a Bluetooth-enabled
                        device designed as a personal safety solution that
                        instantly triggers emergency help when needed.

                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="../../../../assets/senselive/poegateway.png" style="height: 170px; width: 170px;">
                    </div>
                    <h3>SenseLive Indoor PoE Gateway SL2304
                    </h3>
                    <!-- <p>Compact entry level industrial iot devices and data acquistion and machine monitoring

                    </p> -->
                </div>
            </div>
        </div>
    </div>

    <div _ngcontent-ng-c528047134="" class="ml-services-area ptb-80">
        <div _ngcontent-ng-c528047134="" class="container">
            <div _ngcontent-ng-c528047134="" class="section-title">
                <h2 _ngcontent-ng-c528047134="">Our Platforms</h2>
            </div>
            <div _ngcontent-ng-c528047134="" class="row">
                <div _ngcontent-ng-c528047134="" class="col-lg-4 col-sm-6 col-md-6">
                    <div _ngcontent-ng-c528047134="" class="single-ml-services-box">
                        <div _ngcontent-ng-c528047134="" class="image"><img _ngcontent-ng-c528047134=""
                                src="assets/senselive/senselive_logo.png" style="height: 180px; width: 180px;"></div>
                        <h3 _ngcontent-ng-c528047134=""><a _ngcontent-ng-c528047134="" routerlink="/" href="/">Energy Management System (EMS)</a></h3>
                        <p _ngcontent-ng-c528047134="">Our Energy Management System ensures continuous real-time energy optimization, reducing energy wastage and boosting your business's bottom line.
                        </p>
                    </div>
                </div>
                <div _ngcontent-ng-c528047134="" class="col-lg-4 col-sm-6 col-md-6">
                    <div _ngcontent-ng-c528047134="" class="single-ml-services-box">
                        <div _ngcontent-ng-c528047134="" class="image"><img _ngcontent-ng-c528047134=""
                                src="assets/senselive/iotdevices.png" style="height: 180px; width: 180px;"></div>
                        <h3 _ngcontent-ng-c528047134=""><a _ngcontent-ng-c528047134="" routerlink="/" href="/">Temperature Management System (TMS)</a></h3>
                        <p _ngcontent-ng-c528047134="">Wireless Temperature Monitoring Platform for Temperature, Humidity, Pressure, and more — providing real-time Logs, Alerts, and Monitoring direct to industry. </p>
                    </div>
                </div>
                <div _ngcontent-ng-c528047134="" class="col-lg-4 col-sm-6 col-md-6">
                    <div _ngcontent-ng-c528047134="" class="single-ml-services-box">
                        <div _ngcontent-ng-c528047134="" class="image"><img _ngcontent-ng-c528047134=""
                                src="assets/senselive/dubai.png" style="height: 180px; width: 180px;"></div>
                        <h3 _ngcontent-ng-c528047134=""><a _ngcontent-ng-c528047134="" routerlink="/" href="/">Work Permit Management System (WPMS)</a></h3>
                        <p _ngcontent-ng-c528047134="">Manage your permits, audits </p>
                    </div>
                </div>
            </div>
        </div>
        <div _ngcontent-ng-c528047134="" class="iot-services-area ptb-80">
            <div _ngcontent-ng-c528047134="" class="container">
                <div _ngcontent-ng-c528047134="" class="row">
                    <div _ngcontent-ng-c528047134="" class="col-lg-4 col-md-6 col-sm-6">
                        <div _ngcontent-ng-c528047134="" class="single-iot-services">
                            <div _ngcontent-ng-c528047134="" class="section-title">
                                <h2 _ngcontent-ng-c528047134="">Customers</h2>
                            </div>
                            <p _ngcontent-ng-c528047134="">Trusted by customers across many industries operating on global
                                markets. Earning the trust of customers in various sectors. </p><a routerLink="/customers"
                                _ngcontent-ng-c528047134=""><i-feather _ngcontent-ng-c528047134="" href="../customers/customers.component.html" name="arrow-right"
                                    _nghost-ng-c3061231048=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        class="feather feather-arrow-right">
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                        <polyline points="12 5 19 12 12 19"></polyline>
                                    </svg></i-feather></a>
                        </div>
                    </div>
                    <div _ngcontent-ng-c528047134="" class="col-lg-4 col-md-6 col-sm-6">
                        <div _ngcontent-ng-c528047134="" class="single-iot-services">
                            <div _ngcontent-ng-c528047134="" class="section-title">
                                <h2 _ngcontent-ng-c528047134="">Work with Us</h2>
                            </div>
                            <p _ngcontent-ng-c528047134="">We’re IoT experts transforming the digital landscape and enabling
                                a new industrial age to your Career join our team to grow your career </p><a routerLink="/contact"
                                _ngcontent-ng-c528047134=""><i-feather _ngcontent-ng-c528047134="" href="../contact/contact.component.html" name="arrow-right"
                                    _nghost-ng-c3061231048=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        class="feather feather-arrow-right">
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                        <polyline points="12 5 19 12 12 19"></polyline>
                                    </svg></i-feather></a>
                        </div>
                    </div>
                    <div _ngcontent-ng-c528047134="" class="col-lg-4 col-md-6 col-sm-6">
                        <div _ngcontent-ng-c528047134="" class="single-iot-services">
                            <div _ngcontent-ng-c528047134="" class="section-title">
                                <h2 _ngcontent-ng-c528047134="">Partners</h2>
                            </div>
                            <p _ngcontent-ng-c528047134="">We continually foster relationships with industrial experts,
                                technology leaders, and consultants to deliver results that exceed our clients’
                                expectations. </p><a routerLink="/partners"
                                _ngcontent-ng-c528047134=""><i-feather _ngcontent-ng-c528047134="" href="../partners/partners.component.html" name="arrow-right"
                                    _nghost-ng-c3061231048=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        class="feather feather-arrow-right">
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                        <polyline points="12 5 19 12 12 19"></polyline>
                                    </svg></i-feather></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div _ngcontent-ng-c528047134="" class="iot-services-area ptb-80">
        <div _ngcontent-ng-c528047134="" class="container">
            <div _ngcontent-ng-c528047134="" class="row">
                <div _ngcontent-ng-c528047134="" class="col-lg-6 col-md-12 col-sm-12">
                    <div _ngcontent-ng-c528047134="" class="single-iot-services">
                        <div _ngcontent-ng-c528047134="" class="section-title">
                            <h2 _ngcontent-ng-c528047134="">Get Started!
                            </h2>
                        </div>
                        <p _ngcontent-ng-c528047134="">Book your personalized demo and speak with one of our IoT experts to discover the Senselive Platform’s key features and the benefits.

                        </p><a routerLink="/contact"
                        _ngcontent-ng-c528047134=""><i-feather _ngcontent-ng-c528047134="" href="../contact/contact.component.html" name="arrow-right"
                            _nghost-ng-c3061231048=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                class="feather feather-arrow-right">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg></i-feather></a>
                    </div>
                </div>
                <div _ngcontent-ng-c528047134="" class="col-lg-6 col-md-12 col-sm-12">
                    <div _ngcontent-ng-c528047134="" class="single-iot-services">
                        <div _ngcontent-ng-c528047134="" class="section-title">
                            <h2 _ngcontent-ng-c528047134="">Work with Us</h2>
                        </div>
                        <p _ngcontent-ng-c528047134="">We’re IoT experts transforming the digital landscape and enabling
                            a new industrial age to your Career join our team to grow your career </p><a routerLink="/careers"
                            _ngcontent-ng-c528047134=""><i-feather _ngcontent-ng-c528047134="" href="../careers/careers.component.html" name="arrow-right"
                                _nghost-ng-c3061231048=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                    class="feather feather-arrow-right">
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <polyline points="12 5 19 12 12 19"></polyline>
                                </svg></i-feather></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>