<app-navbar-style-one></app-navbar-style-one>

<div class="funfacts-area bg-image ptb-80 mt-5">
    <div class="container">
        <div class="section-title">
            <h2 class="pt-5">Our Partners
            </h2>
            <p class="pt-2">Learn which industry-leading companies have chosen SensLive as a partner, to make the world a better, connected place.
            </p>
        </div>
    </div>
</div>

<!-- Services -->
<div class="ml-services-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>Discover Our Partners</h2>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="../../../../assets/senselive/aws.png" style="height: 110px; width: 110px;">
                    </div>
                    <h3>Amazon AWS</h3>
                    <p>Amazon Web Services, Inc. is a subsidiary of Amazon that provides on-demand cloud computing platforms and APIs to individuals, companies, and governments, on a metered, pay-as-you-go basis. Oftentimes, clients will use this in combination with autoscaling. AWS offers over 200 services, including servers, networking, email, security.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image mt-5">
                        <img src="assets/senselive/delphi.png">
                    </div>
                    <h3>Delphi Analytics</h3>
                    <p>Delphi Analytics Deals in Analytics as a service, Data Engineering and Machine learning Technologies With a primary aim to remove the disparity in the Analytics technologies used by Giant vs smaller startups, Delphi is working with E-Commerce and B2B Players to help scale and automate their analytics - data science stacks
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/senselive/strategic.png" style="height: 110px; width: 110px;">
                    </div>
                    <h3>STRATEGIC BUSINESS PRo CONSULTANCY LLC</h3>
                    <p>We provide end-to-end IoT solutions for industries, enabling them to optimize processes and embrace the 4th Industrial Revolution. Our customized IoT architectures offer remote diagnostics, predictive maintenance, and condition monitoring, backed by excellent customer service and support.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>
<div class="agency-portfolio-partner-area ptb-80">
    <div class="container">
        <p style="color:rgb(0, 0, 0); text-align: center; font-weight: bold; font-size: 35px;">Our Technology Partners</p>
        <div class="agency-portfolio-partner-slides pt-3">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/tca.jpeg" height="100px" width="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/iotians.png" height="100px" width="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/yantrify.jpeg" height="120px" width="120px">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
<!-- Partner -->
<div class="agency-portfolio-partner-area ptb-80">
    <div class="container-fluid">
        <p style="color:rgb(0, 0, 0); text-align: center; font-weight: bold; font-size: 35px;">Our Channel Partners</p>
        <div class="agency-portfolio-partner-slides pt-3">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/enertek.jpeg" height="120px" width="120px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/marty.jpeg" height="80px" width="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/innovare.png" height="80px" width="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/seetech.png" height="100px" width="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/b.png" height="100px" width="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/sharpcontrol.png" height="110px">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<div class="agency-portfolio-partner-area ptb-80">
    <div class="container">
        <p style="color:rgb(0, 0, 0); text-align: center; font-weight: bold; font-size: 35px;">Our OEM Partners</p>
        <div class="agency-portfolio-partner-slides pt-3">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/assomac.jpeg" height="150px" width="120px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/trumen.png" height="100px" width="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/vision.jpeg" height="120px" width="120px">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- Blog -->
<div class="blog-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>See Our Blogs</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a routerLink="/blog-details">
                            <img src="../../../../assets/senselive/iotblog.png" alt="image"
                                style="height: 200px; width: 400px;">
                        </a>
                        <div class="date">
                            <i-feather name="calendar"></i-feather> March 15, 2024
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3><a routerLink="/blog-details">IOT technologies the main trends of 2023?</a></h3>
                        <p>We hear about IoT every day now. But what is it? What are the benefits of its implementation?
                            What are the major challenges faced in IoT? And what are the expected trends for 2023?</p>
                        <a class="read-more-btn">Read More <i-feather
                                name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a routerLink="/blog-details">
                            <img src="../../../../assets/senselive/iotblog2.png" alt="image"
                                style="height: 200px; width: 400px;">
                        </a>
                        <div class="date">
                            <i-feather name="calendar"></i-feather> March 17, 2024
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3><a routerLink="/blog-details">The industrial world goes to the Edge</a></h3>
                        <p>By 2025, 75% of data companies generate will be processed locally, close to the point of
                            generation (on-edge), and cloud systems will increasingly support in-depth analysis of
                            aggregated data.
                        </p>
                        <a class="read-more-btn">Read More <i-feather
                                name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a routerLink="/blog-details">
                            <img src="../../../../assets/senselive/iotblog3.jpeg" alt="image"
                                style="height: 200px; width: 400px;">
                        </a>
                        <div class="date">
                            <i-feather name="calendar"></i-feather> March 19, 2024
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3><a routerLink="/blog-details">Integrations between IT and OT systems for a holistic view of
                                Factory 4.0</a></h3>
                        <p>SenseLive renewed IoT platform based on AI offers more than just monitoring energy
                            consumption and operational status devices.</p>
                        <a class="read-more-btn">Read More <i-feather
                                name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>