<app-navbar-style-one></app-navbar-style-one>

<div class="funfacts-area bg-image ptb-80 mt-5">
    <div class="container">
        <div class="section-title">
            <h2 class="pt-5">Our Partners
            </h2>
            <p class="pt-2">Learn which industry-leading companies have chosen SensLive as a partner, to make the world a better, connected place.
            </p>
        </div>
    </div>
</div>

<div class="agency-portfolio-partner-area ptb-80">
    <div class="container-fluid">
        <p style="color:rgb(0, 0, 0); text-align: center; font-weight: bold; font-size: 35px;">Our Technology Partners</p>
        <div class="agency-portfolio-partner-slides pt-3">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/tca.jpeg" height="80px" width="80px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/aws.png" height="120px" width="120px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/delphi.png" height="80px" width="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/strategic.png" height="100px" width="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/iotians.png" height="100px" width="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/yantrify.jpeg" height="120px" width="120px">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
<!-- Partner -->
<div class="agency-portfolio-partner-area ptb-80">
    <div class="container-fluid">
        <p style="color:rgb(0, 0, 0); text-align: center; font-weight: bold; font-size: 35px;">Our Channel Partners</p>
        <div class="agency-portfolio-partner-slides pt-3">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/enertek.jpeg" height="120px" width="120px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/marty.jpeg" height="80px" width="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/innovare.png" height="80px" width="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/seetech.png" height="100px" width="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/b.png" height="100px" width="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/sharpcontrol.png" height="110px">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<div class="agency-portfolio-partner-area ptb-80">
    <div class="container">
        <p style="color:rgb(0, 0, 0); text-align: center; font-weight: bold; font-size: 35px;">Our OEM Partners</p>
        <div class="agency-portfolio-partner-slides pt-3">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/assomac.jpeg" height="150px" width="120px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/trumen.png" height="100px" width="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/vision.jpeg" height="120px" width="120px">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- Blog -->
<div class="blog-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>See Our Blogs</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a>
                            <img src="../../../../assets/senselive/iotblog.png" alt="image"
                                style="height: 200px; width: 400px;">
                        </a>
                        <div class="date">
                            <i-feather name="calendar"></i-feather> March 15, 2024
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3><a>IOT technologies the main trends of 2023?</a></h3>
                        <p>We hear about IoT every day now. But what is it? What are the benefits of its implementation?
                            What are the major challenges faced in IoT? And what are the expected trends for 2023?</p>
                        <a class="read-more-btn">Read More <i-feather
                                name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a>
                            <img src="../../../../assets/senselive/iotblog2.png" alt="image"
                                style="height: 200px; width: 400px;">
                        </a>
                        <div class="date">
                            <i-feather name="calendar"></i-feather> March 17, 2024
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3><a>The industrial world goes to the Edge</a></h3>
                        <p>By 2025, 75% of data companies generate will be processed locally, close to the point of
                            generation (on-edge), and cloud systems will increasingly support in-depth analysis of
                            aggregated data.
                        </p>
                        <a class="read-more-btn">Read More <i-feather
                                name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a>
                            <img src="../../../../assets/senselive/iotblog3.jpeg" alt="image"
                                style="height: 200px; width: 400px;">
                        </a>
                        <div class="date">
                            <i-feather name="calendar"></i-feather> March 19, 2024
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3><a>Integrations between IT and OT systems for a holistic view of
                                Factory 4.0</a></h3>
                        <p>SenseLive renewed IoT platform based on AI offers more than just monitoring energy
                            consumption and operational status devices.</p>
                        <a class="read-more-btn">Read More <i-feather
                                name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>