<app-navbar-style-one></app-navbar-style-one>

<div class="iot-cta-area">
    <div class="container mt-5 mb-5 ">
        <div class="row align-items-center" style="margin-top: 40px;">
            <div class="col-lg-6 mt-5" style="padding: 0 20px;">
                <div class="cta-iot-content">
                    <h3 style="font-size: 24px; color: #333;">SenseLive BLE-Tag SL0</h3>
                    <h5 style="font-size: 18px; color: #666;">Safety, Security & Surveillance</h5>
                    <p style="font-size: 16px; color: #444; line-height: 1.6;">The SL0 Emergency Button is a
                        Bluetooth-enabled
                        device designed as a personal safety solution that
                        instantly triggers emergency help when needed.
                        Equipped with a large, circular trigger button, it
                        ensures accessible one-touch activation of emergency
                        alerts.</p>
                    <a href="https://drive.google.com/file/d/1G2AOQFlm8wZ2Q3u9hXDnyzDA2-vWwawb/view" target="_blank"
                        style="display: inline-block; color: #ff8000;; text-decoration: none; font-size: 16px; padding: 10px 20px; border-radius: 5px; margin-top: 15px; border: 1px solid #ff8000;;">Download
                        Brochure</a>
                </div>
            </div>
            <div class="col-lg-6 mt-5" style="display: flex; justify-content: center; align-items: center;">
                <div class="cta-iot-img">
                    <img src="../../../../assets/senselive/ble2.png" class="animate__animated animate__fadeInUp"
                        style="max-width: 100%; height: auto;">
                </div>
            </div>
        </div>

        <div class="container" style="width: 80%; margin: 0 auto; padding: 20px; font-family: Arial, sans-serif; color: #333;">
            <div class="row" style="display: flex; flex-wrap: wrap; gap: 20px;">
              <!-- Key Features Section -->
              <div class="features" style="flex: 1 1 calc(50% - 20px); padding: 20px; background-color: #f9f9f9; border: 1px solid #e0e0e0; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <h2 class="section-title" style="text-align: center; font-size: 28px; color: #333; margin-bottom: 20px;">Key Features</h2>
                <ul style="list-style-type: none; padding: 0;">
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">Prominent, easily accessible button:</strong> Instant trigger of alerts
                  </li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">Long-range Bluetooth Low Energy connectivity:</strong> 150m
                  </li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">Compact and lightweight design:</strong> 20 grams
                  </li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">Replaceable 600mAh battery:</strong> 4 year lifespan
                  </li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">Operating temperature range:</strong> -20°C to 60°C
                  </li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">Installation options:</strong> 3M sticker and lanyard
                  </li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">Minimal physical effort:</strong> Required to activate the button
                  </li>
                </ul>
              </div>
          
              <!-- Applications Section -->
              <div class="applications" style="flex: 1 1 calc(50% - 20px); padding: 20px; background-color: #f9f9f9; border: 1px solid #e0e0e0; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <h2 class="section-title" style="text-align: center; font-size: 28px; color: #333; margin-bottom: 20px;">Applications</h2>
                <ul style="list-style-type: none; padding: 0;">
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">Personal safety</li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">Elderly care</li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">Healthcare facilities</li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">Workplace safety</li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">Public safety</li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">Schools and universities</li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">Disabled individuals</li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">Home security</li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">Event management</li>
                </ul>
              </div>
              
            </div>
        </div>
          
        <div style="margin-top: 40px;">
            <h2 style="text-align: center; font-size: 28px; color: #333; margin-bottom: 20px;">Technical Specifications</h2>
            <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
              <table class="responsive-table" style="width: 48%; border-collapse: collapse; flex: 1; margin-bottom: 20px;">
                <tbody>
                  <tr>
                    <td style="border: 1px solid #ddd; padding: 8px;"><strong>Connectivity</strong></td>
                    <td style="border: 1px solid #ddd; padding: 8px;"><strong>BLE 5.0</strong></td>
                  </tr>
                  <tr>
                    <td rowspan="2" style="border: 1px solid #ddd; padding: 8px;"><strong>Dimensions</strong></td>
                    <td style="border: 1px solid #ddd; padding: 8px;">48.0*15.3mm (body)</td>
                  </tr>
                  <tr>
                    <td style="border: 1px solid #ddd; padding: 8px;">35mm (button)</td>
                  </tr>
                  <tr >
                    <td style="border: 1px solid #ddd; padding: 8px;"><strong>Weight</strong></td>
                    <td style="border: 1px solid #ddd; padding: 8px;">20g</td>
                  </tr>
                  <tr>
                    <td style="border: 1px solid #ddd; padding: 8px;"><strong>Color</strong></td>
                    <td style="border: 1px solid #ddd; padding: 8px;">White</td>
                  </tr>
                  <tr>
                    <td style="border: 1px solid #ddd; padding: 8px;"><strong>LED</strong></td>
                    <td style="border: 1px solid #ddd; padding: 8px;">Circular LED - Red/Green/Blue</td>
                  </tr>
                  <tr>
                    <td style="border: 1px solid #ddd; padding: 8px;"><strong>Material</strong></td>
                    <td style="border: 1px solid #ddd; padding: 8px;">PC</td>
                  </tr>
                </tbody>
              </table>
              
              <table class="responsive-table" style="width: 48%; border-collapse: collapse; flex: 1; margin-bottom: 20px;">
                <tbody>
                  <tr>
                    <td style="border: 1px solid #ddd; padding: 8px;"><strong>Battery Capacity</strong></td>
                    <td style="border: 1px solid #ddd; padding: 8px;">600mAh | replaceable battery</td>
                  </tr>
                  <tr>
                    <td style="border: 1px solid #ddd; padding: 8px;"><strong>Lifespan</strong></td>
                    <td style="border: 1px solid #ddd; padding: 8px;">4 years in default settings</td>
                  </tr>
                  <tr>
                    <td style="border: 1px solid #ddd; padding: 8px;"><strong>Operating Temperature</strong></td>
                    <td style="border: 1px solid #ddd; padding: 8px;">-20°C to 60°C</td>
                  </tr>
                  <tr>
                    <td style="border: 1px solid #ddd; padding: 8px;"><strong>Transmission Range</strong></td>
                    <td style="border: 1px solid #ddd; padding: 8px;">150m (in open area without obstacles)</td>
                  </tr>
                  <tr>
                    <td style="border: 1px solid #ddd; padding: 8px;"><strong>Installation</strong></td>
                    <td style="border: 1px solid #ddd; padding: 8px;">3M Sticker, Lanyard</td>
                  </tr>
                  <tr>
                    <td style="border: 1px solid #ddd; padding: 8px;"><strong>Compliance</strong></td>
                    <td style="border: 1px solid #ddd; padding: 8px;">FCC | CE | REACH | Bluetooth</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          

    </div>
</div>