<app-navbar-style-one></app-navbar-style-one>

<div class="funfacts-area bg-image ptb-80 mt-5">
    <div class="container">
        <div class="section-title">
            <h2 class="pt-5">Real Time Production Productivity Management</h2>
            <p class="pt-2">Realize your factory's true potential, maximize productivity and profits in your factory operations.
            </p>
        </div>
    </div>
</div>

<div class="services-area-two ptb-80 bg-f7fafd">
    <div class="container-fluid">
        <div class="section-title">
            <h2>Real Time Production Productivity Management enables you to

            </h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/senselive/efficiency.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3>Enhanced Efficiency </h3>
                    <p>1. Real-time monitoring and data-driven insights enable factories to identify and address
                        bottlenecks, downtime, and inefficiencies promptly.
                    </p>
                    <p>2. Resource allocation becomes more optimized, leading to smoother production processes and
                        reduced wastage

                    <p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/senselive/productivity.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3>Increased Productivity:

                    </h3>
                    <p>1. Workers and teams have access to real-time performance data and feedback, motivating them to
                        meet and exceed production targets.

                    </p>
                    <p>2. Productivity gains result from more informed decision-making and proactive management.

                    <p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/senselive/costreduction.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3>Cost Reduction
                    </h3>
                    <p>1. Downtime and energy waste are minimized through early detection and rapid response to
                        production issues

                    </p>
                    <p>2. Resource optimization and streamlined processes lead to lower operational costs.

                    <p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/senselive/datadriven.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3>Data-Driven Decision-Making

                    </h3>
                    <p>1. Real-time insights provide valuable data for informed decision-making at every level of
                        factory management.

                    </p>
                    <p>2. Data analytics allow for continuous process improvement, leading to better overall decision
                        outcomes.

                    <p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services Details -->
<div class="services-area-two ptb-80">
    <div class="container-fluid">
        <div class="section-title">
            <h2>How an Real Time Production Productivity Management works for a factory:

            </h2>
        </div>
        <div class="services-details-area ptb-80">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 services-details">
                        <div class="services-details-desc">
                            <h3>1. Real-Time OEE Management</h3>
                            <ul>
                                <li>Unlocking Efficiency: Boosting Factory Performance with Real-Time OEE Insights</li>
                                <li>Driving Productivity: How Real-Time OEE Management Transforms Manufacturing
                                    Operations</li>
                            </ul>
                        </div>
                        <div class="services-details-desc mt-3">
                            <h3>2. Benefits of Real-Time OEE Management</h3>
                            <ul>
                                <li>Improved Efficiency: Maximizing Equipment Utilization and Minimizing Downtime
                                </li>
                                <li>Enhanced Productivity: Empowering Teams with Data-Driven Insights
                                </li>
                                <li>Cost Reduction: Minimizing Waste and Optimizing Resource Allocation
                                </li>
                                <li>lPredictive Maintenance: Proactively Addressing Equipment Issues
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 services-details-image">
                        <img src="assets/senselive/real1.png" class="animate__animated animate__fadeInUp"
                            alt="image">
                    </div>
                </div>
                <div class="separate"></div>
                <div class="row align-items-center">
                    <div class="col-lg-6 services-details-image">
                        <img src="assets/senselive/real2.png" class="animate__animated animate__fadeInUp"
                            alt="image">
                    </div>
                    <div class="col-lg-6 services-details">
                        <div class="services-details-desc">
                            <h3>3. How Real-Time OEE Management Works
                            </h3>
                            <ul>
                                <li> Data Collection and Integration: Gathering Real-Time Equipment Data

                                </li>
                                <li>Continuous Monitoring: Tracking Equipment Performance and Downtime

                                </li>
                                <li>Data Analysis and Insights: Turning Data into Actionable Information

                                </li>
                                <li>Reporting and Alerts: Instant Notifications for Quick Responses
                                </li>
                                <li>Predictive Maintenance: Anticipating and Preventing Equipment Failures

                                </li>
                            </ul>
                        </div>
                        <div class="services-details-desc mt-3">
                            <h3>4. Integration and Compatibility
                            </h3>
                            <ul>
                                <li>Seamless Integration: Real-Time OEE Management in Your Existing Systems

                                </li>
                                <li>Compatibility with MES: Enhancing Manufacturing Execution

                                </li>
                                <li>ERP Integration: Streamlining Resource Allocation and Planning

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="separate"></div>
                <div class="row align-items-center">
                    <div class="col-lg-6 services-details">
                        <div class="services-details-desc">
                            <h3>5. Empowering Your Workforce

                            </h3>
                            <ul>
                                <li> Workforce Engagement: Motivating Teams with Real-Time Feedback

                                </li>
                                <li>Data-Driven Decision-Making: Empowering Workers on the Shop Floor

                                </li>
                                <li>Performance Reviews: Supporting a Culture of Continuous Improvement

                                </li>
                            </ul>
                        </div>
                        <div class="services-details-desc mt-3">
                            <h3>6. Real-Time OEE Management for Regulatory Compliance</h3>
                            <ul>
                                <li> Meeting Industry Standards: Generating Compliance Reports

                                </li>
                                <li>Ensuring Adherence to Regulations: Real-Time Monitoring and Reporting

                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-6 services-details-image">
                        <img src="assets/senselive/real3.png" class="animate__animated animate__fadeInUp"
                            alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>