<app-navbar-style-one></app-navbar-style-one>

<div class="funfacts-area bg-image ptb-80 mt-5">
    <div class="container">
        <div class="section-title">
            <h2 class="pt-5">Asset And Machine Monitoring
            </h2>
            <p class="pt-2">Monitor machines and assets, control real-time performance, reduce energy costs, minimize downtime, and manage maintenance.
            </p>
        </div>
    </div>
</div>

<div class="services-area-two ptb-80 bg-f7fafd">
    <div class="container-fluid">
        <div class="section-title">
            <h2>Asset and machine monitoring solution enables you to

            </h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/senselive/assetoversight.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3>Comprehensive Asset Oversight
                    </h3>
                    <p>1. Gain visibility into the status and performance of all your assets, whether old or new,
                        primary or auxiliary.</p>
                    <p>2. Achieve a centralized view of your entire asset portfolio, simplifying management and
                        decision-making.

                    <p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/senselive/efficiency.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3>Enhanced Efficiency and Cost Control
                    </h3>
                    <p>1. Monitor real-time performance metrics, including energy consumption and associated costs for
                        each machine.

                    </p>
                    <p>2. Identify areas for optimization and resource allocation to reduce operational expenses

                    <p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/senselive/maintainance.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3>Roactive Maintenance Management
                    </h3>
                    <p>1. Implement condition-based maintenance strategies with confidence.

                    </p>
                    <p>2. Stay on top of maintenance schedules and ensure machinery is serviced when needed, minimizing
                        downtime and repair costs.

                    <p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/senselive/alert.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3>Immediate Response to Alerts

                    </h3>
                    <p>1. Receive instant notifications when machines exceed predefined thresholds or encounter alarms.

                    </p>
                    <p>2. Take quick and informed action to address issues promptly, preventing potential disruptions
                        and preserving productivity.

                    <p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services Details -->
<div class="services-area-two ptb-80">
    <div class="container-fluid">
        <div class="section-title">
            <h2>How an Asset and Machine monitoring works for a factory
            </h2>
        </div>
        <div class="services-details-area ptb-80">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 services-details">
                        <div class="services-details-desc">
                            <h3>1. Remote Asset Connectivity
                            </h3>
                            <p>Connect to existing assets remotely, overcoming the challenge of continuous monitoring.
                            </p>
                        </div>
                        <div class="services-details-desc mt-3">
                            <h3>2. Customizable Alerts
                            </h3>
                            <p>Configure complex alarms with condition types, boundary limits, and actions, with email
                                and SMS distribution rules for rapid response.
                            </p>
                        </div>
                        <div class="services-details-desc mt-3">
                            <h3>3. Performance Dashboard
                            </h3>
                            <p>Access real-time data for each monitored asset, including detailed health status, open
                                alarms, and performance readings, with drill-down capabilities.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 services-details-image">
                        <img src="assets/senselive/asset3.png" class="animate__animated animate__fadeInUp"
                            alt="image">
                    </div>
                </div>
                <div class="separate"></div>
                <div class="row align-items-center">
                    <div class="col-lg-6 services-details-image">
                        <img src="assets/senselive/asset3.png" class="animate__animated animate__fadeInUp"
                            alt="image">
                    </div>
                    <div class="col-lg-6 services-details">
                        <div class="services-details-desc">
                            <h3>4 . Maintenance Efficiency
                            </h3>
                            <p>Enable maintenance teams to define default time windows for analysis, acknowledge alarms,
                                and access condition status for effective troubleshooting
                            </p>
                        </div>
                        <div class="services-details-desc mt-3">
                            <h3>5. Performance Improvements
                            </h3>
                            <p>Implementing this application can lead to significant gains, including throughput
                                increases of 5-20%, 20-30% reduction in unplanned downtime, and 2-13% energy consumption
                                reduction
                            </p>
                        </div>
                        <div class="services-details-desc mt-3">
                            <h3>6. Deployment Flexibility
                            </h3>
                            <p>The application is available for deployment in your private or public cloud, ensuring
                                scalability and accessibility.
                            </p>
                        </div>
                        <div class="services-details-desc mt-3">
                            <h3>7. Mission-Critical Uptime
                            </h3>
                            <p>Ensure assets are operational, reducing events with unplanned downtime, higher scrap, and
                                rework.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="separate"></div>
                <div class="row align-items-center">
                    <div class="col-lg-6 services-details">
                        <div class="services-details-desc">
                            <h3>8. Cost Reduction
                            </h3>
                            <p>Proactive maintenance and issue resolution lead to lower maintenance costs and
                                unnecessary capital expenditures.
                            </p>
                        </div>
                        <div class="services-details-desc mt-3">
                            <h3>9. Enhanced Asset Utilization
                            </h3>
                            <p>Achieve higher overall asset utilization, minimizing operational inefficiencies.
                            </p>
                        </div>
                        <div class="services-details-desc mt-3">
                            <h3>10. Data-Driven Insights
                            </h3>
                            <p>Utilize data trending and analysis tools for informed decision-making and root cause
                                analysis.
                            </p>
                        </div>
                        <div class="services-details-desc mt-3">
                            <h3>11. Transformative Results
                            </h3>
                            <p>Companies implementing this application have witnessed significant improvements in their
                                factory operations, translating into higher efficiency and cost savings.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 services-details-image">
                        <img src="assets/senselive/asset3.png" class="animate__animated animate__fadeInUp"
                            alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>