<app-navbar-style-one></app-navbar-style-one>

<!-- Services -->
<div class="services-area-two ptb-80 bg-f7fafd">
    <div class="container">
        <div class="section-title mt-5">
            <h2>IoT Resources</h2>

        </div>
        <div class="row" style="justify-content: center;">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i-feather name="settings"></i-feather>
                    </div>
                    <h3>Blogs</h3>
                    <p>A variety of on demand vebinars to expand your knowledge of industrial IoT,the creation of
                        connected products</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i-feather name="mail"></i-feather>
                    </div>
                    <h3>White papers</h3>
                    <p>
                        A variety of on demand vebinars to expand your knowledge of industrial IoT,the creation of
                        connected products</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i-feather name="bell"></i-feather>
                    </div>
                    <h3>Brochures</h3>
                    <p>
                        A variety of on demand vebinars to expand your knowledge of industrial IoT,the creation of
                        connected products</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i-feather name="mail"></i-feather>
                    </div>
                    <h3>Webinars on demand</h3>
                    <p>A variety of on demand vebinars to expand your knowledge of industrial IoT,the creation of
                        connected products.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i-feather name="bell"></i-feather>
                    </div>
                    <h3>YouTube channel</h3>
                    <p>
                        A variety of on demand vebinars to expand your knowledge of industrial IoT,the creation of
                        connected products</p>
                </div>
            </div>
        </div>
    </div>
</div>