<app-navbar-style-one></app-navbar-style-one>

<div class="funfacts-area bg-image ptb-80 mt-5">
    <div class="container">
        <div class="section-title">
            <h2 class="pt-5">SenseLive Industry 4.0 And IoT Solutions
            </h2>
            <p class="pt-2">Digital Transformation for your machines
            </p>
        </div>
    </div>
</div>

<div class="about-area ptb-80">
    <div class="container">
        <div class="about-inner-area">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>What do we do
                        </h3>
                        <p>"We provide innovative Industry 4.0 solutions that empower businesses to optimize their operations, enhance productivity, and achieve digital transformation through cutting-edge technology and data-driven insights."
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>How do we do it
                        </h3>
                        <p>"Senselive empowers smart manufacturing through seamless IoT integration, AI-driven insights, and unified management for optimized factory operations. Start your digital transformation with just one click."
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="about-text">
                        <h3>What can you get?
                        </h3>
                        <p>"Boost your factory efficiency by incorporating the Senselive platform. It’s Secure, easy to integrate, scale, and manage. Take control of your facility with data-driven mechanisms for enhanced productivity and performance.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hosting-features-area ptb-80 bg-white">
    <div class="container">
        <div class="section-title">
            <h2>Industrial IoT's SenseLive Solutions</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon">
                        <img src="../../../../assets/senselive/energymanagement.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3><a routerLink="/energy">Energy Management System</a></h3>
                    <p>Our Energy Management System ensures continuous energy optimization, reducing wastage and
                        boosting your bottom line.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon">
                        <img src="../../../../assets/senselive/realtime.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3><a routerLink="/realtime">Real Time Production Productivity Monitoring</a></h3>
                    <p>Realize your factory's true potential, maximize productivity and profits in your factory
                        operations.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon">
                        <img src="../../../../assets/senselive/machinemonitoring.png" style="height: 45px; width: 45px;">
                    </div>
                    <h3><a routerLink="/asset">Asset and Machine Monitoring</a></h3>
                    <p>Monitor machines and assets, control real-time performance, reduce energy costs, minimize downtime, and manage maintenance.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon">
                        <img src="../../../../assets/senselive/productiontracking.png" style="height: 45px; width: 45px;">
                    </div>
                    <h3><a routerLink="/production">Production Down Time Tracking</a></h3>
                    <p>Production Down Time Analysis offer several significant benefits for industrial operations.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon">
                        <img src="../../../../assets/senselive/predictivemaintainance.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3><a routerLink="/predictive">Predictive Maintenance</a></h3>
                    <p>Predictive and Descriptive Maintenance offer several significant benefits for industrial
                        operations.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon">
                        <img src="../../../../assets/senselive/waterconservation.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3><a routerLink="/water">Water Management System</a></h3>
                    <p>Monitor machines and assets, control real-time performance, reduce energy costs, minimize
                        downtime, and manage maintenance.</p>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="section-title">
            <h2>SenseLive Industrial IoT And AI Platform Architecture</h2>
        </div>

        <div class="col-lg-12">
            <div class="row">
                <img src="assets/senselive/iotarch1.png" alt="">
            </div>
        </div>
    </div>