<app-navbar-style-one></app-navbar-style-one>

<div class="funfacts-area bg-image ptb-80 mt-5">
    <div class="container">
        <div class="section-title">
            <h2 class="pt-5">Customers
            </h2>
            <p class="pt-2">SenseLive helps customers to drive their industrial IoT transformation and deliver innovative products to the market. Our platform is based on the continuous feedback we receive from our customers across many industries operating on global markets.
            </p>
        </div>
    </div>
</div>

<!-- customer quotes -->
<div class="bigdata-feedback-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>Customer Quotes</h2>
            <div class="bar"></div>
            <p>See what our customer tell's about us.
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-feedback-box">
                    <div class="feedback-desc">
                        <p>Working with SenseLive on various Industry 4.0 and plant digitization projects has been a remarkable experience. Their team is highly dynamic and professional, and the solutions they deliver are of top-notch quality. Moreover, they are always open to feedback, making it a collaborative and successful partnership.</p>
                    </div>
                    <div class="client-info">
                        <img src="assets/img/elkem.png" alt="image">
                        <h3>Elkem</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-feedback-box">
                    <div class="feedback-desc">
                        <p>At Coal India, we successfully implemented SenseLive's Water Management System, allowing us to capture water data from multiple sites without the need for extensive wiring. This data is seamlessly displayed at our headquarters, enhancing our water management capabilities and overall increasing efficiency and more effectively.</p>
                    </div>
                    <div class="client-info">
                        <img src="assets/img/CoalIndia.png" alt="image">
                        <h3>Coal India</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-feedback-box">
                    <div class="feedback-desc">
                        <p>Salasar Alloy and Steel Industries Pvt. Ltd. has greatly benefited from SenseLive's industry-specific solutions tailored to our unique company culture. The dashboards provided are incredibly user-friendly, and they encompass all the crucial Key Performance Indicators (KPIs), making data analysis and decision-making a breeze.</p>
                    </div>
                    <div class="client-info">
                        <img src="assets/img/kapilansh.jpeg" alt="image">
                        <h3>Salasar Alloy and Steel Industries</h3>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-feedback-box">
                    <div class="feedback-desc">
                        <p>SenseLive's customers in the manufacturing industry benefit from increased operational efficiency, reduced downtime, and data-driven insights, enabling them to stay competitive in a rapidly evolving landscape.</p>
                    </div>
                    <div class="client-info">
                        <img src="assets/img/ceattyres1.png" alt="image">
                        <h3>CEAT Tyres</h3>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="container-fluid">
        <div class="section-title"> 
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/senselive/ceattyres.jpg" style="height: 110px; width: 110px;">
                    </div>
                    <h3>CEAT TYRES</h3>
                    <p>Cavi Elettrici e Affini Torino, commonly known by the abbreviation CEAT, is an Indian multinational tyre manufacturing company owned by RPG group.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image mt-5">
                        <img src="assets/senselive/kapilanshlogo.png" style="height: 60px; width: 110px;">
                    </div>
                    <h3>Kapilansh</h3>
                    <p>Kapilansh Dhatu Udyog Pvt. Ltd. is the leading and established name in India as manufacturers of centrifugally cast iron pipes and fittings.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="assets/senselive/coalindia.png" style="height: 110px; width: 110px;">
                    </div>
                    <h3>Coal India</h3>
                    <p>Coal India Limited (CIL) is an Indian central public sector undertaking under the ownership of the Ministry of Coal, Government of India.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="single-ml-services-box">
                    <div class="image mt-5">
                        <img src="assets/senselive/elkemlogo.jpg" style="height: 60px; width: 110px;">
                    </div>
                    <h3>Elkem</h3>
                    <p>Elkem is one of the world's leading providers of advanced silicon-based materials shaping a better and more sustainable future.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partner -->
<div class="agency-portfolio-partner-area ptb-80">
    <div class="container-fluid">
        <p style="color:rgb(0, 0, 0); text-align: center; font-weight: bold; font-size: 35px;">Our Clients</p>
        <div class="agency-portfolio-partner-slides pt-3">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/elkemlogo.jpg" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/firstwires.png" alt="image" height="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/kapilanshlogo.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/Haldiram.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/bansal.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/ceattyres.jpg" style="height: 100px; width: 100px;">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/multiflex.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/coalindia.png" alt="image"
                                style="height: 100px; width: 100px;">
                        </a>
                    </div>
                </ng-template>
                <!-- <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/bansal.png" alt="image">
                        </a>
                    </div>
                </ng-template> -->
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/indorama.jpeg" alt="image">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<div class="blog-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>See Our Blogs</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a >
                            <img src="../../../../assets/senselive/iotblog.png" alt="image"
                                style="height: 200px; width: 400px;">
                        </a>
                        <div class="date">
                            <i-feather name="calendar"></i-feather> March 15, 2024
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3><a >IOT technologies the main trends of 2023?</a></h3>
                        <p>We hear about IoT every day now. But what is it? What are the benefits of its implementation?
                            What are the major challenges faced in IoT? And what are the expected trends for 2023?</p>
                        <a class="read-more-btn">Read More <i-feather
                                name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a>
                            <img src="../../../../assets/senselive/iotblog2.png" alt="image"
                                style="height: 200px; width: 400px;">
                        </a>
                        <div class="date">
                            <i-feather name="calendar"></i-feather> March 17, 2024
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3><a>The industrial world goes to the Edge</a></h3>
                        <p>By 2025, 75% of data companies generate will be processed locally, close to the point of
                            generation (on-edge), and cloud systems will increasingly support in-depth analysis of
                            aggregated data.
                        </p>
                        <a class="read-more-btn">Read More <i-feather
                                name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a >
                            <img src="../../../../assets/senselive/iotblog3.jpeg" alt="image"
                                style="height: 200px; width: 400px;">
                        </a>
                        <div class="date">
                            <i-feather name="calendar"></i-feather> March 19, 2024
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3><a >Integrations between IT and OT systems for a holistic view of
                                Factory 4.0</a></h3>
                        <p>SenseLive renewed IoT platform based on AI offers more than just monitoring energy
                            consumption and operational status devices.</p>
                        <a class="read-more-btn">Read More <i-feather
                                name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>