<app-navbar-style-one></app-navbar-style-one>

<!-- Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Products</h2>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<!-- Products -->
<div class="shop-area ptb-80">
    <div class="container">
        <div class="woocommerce-topbar">
            <div class="row align-items-center">
                <div class="col-lg-9 col-md-7 col-sm-7">
                    <div class="woocommerce-result-count">
                        <p>Showing 1-8 of 14 results</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 col-sm-5">
                    <div class="woocommerce-topbar-ordering">
                        <select class="form-select">
                            <option value="1">Sort by Popularity</option>
                            <option value="2">Sort by Average Rating</option>
                            <option value="0">Sort by Latest</option>
                            <option value="3">Sort by price: Low to High</option>
                            <option value="4">Sort by price: High to Low</option>
                            <option value="5">Sort by New</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-products">
                    <div class="products-image">
                        <img src="assets/img/shop-image/1.jpg" alt="image">
                        <ul>
                            <li><a routerLink="/products"><i-feather name="heart"></i-feather></a></li>
                            <li><a routerLink="/products-details"><i-feather name="link"></i-feather></a></li>
                        </ul>
                    </div>
                    <div class="products-content">
                        <h3><a routerLink="/products-details">Wood Pencil</a></h3>
                        <span>$191.00</span>
                        <ul>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-products">
                    <div class="products-image">
                        <img src="assets/img/shop-image/2.jpg" alt="image">
                        <ul>
                            <li><a routerLink="/products"><i-feather name="heart"></i-feather></a></li>
                            <li><a routerLink="/products-details"><i-feather name="link"></i-feather></a></li>
                        </ul>
                    </div>
                    <div class="products-content">
                        <h3><a routerLink="/products-details">T-Shirt</a></h3>
                        <span>$111.00</span>
                        <ul>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star"></i></li>
                            <li><i class="flaticon-star-2"></i></li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-products">
                    <div class="products-image">
                        <img src="assets/img/shop-image/3.jpg" alt="image">
                        <ul>
                            <li><a routerLink="/products"><i-feather name="heart"></i-feather></a></li>
                            <li><a routerLink="/products-details"><i-feather name="link"></i-feather></a></li>
                        </ul>
                    </div>
                    <div class="products-content">
                        <h3><a routerLink="/products-details">Casual Shoe</a></h3>
                        <span>$100.00</span>
                        <ul>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star"></i></li>
                            <li><i class="flaticon-star-2"></i></li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to Cart</a>
                    </div>
                    <div class="sale-btn">Sale</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-products">
                    <div class="products-image">
                        <img src="assets/img/shop-image/4.jpg" alt="image">
                        <ul>
                            <li><a routerLink="/products"><i-feather name="heart"></i-feather></a></li>
                            <li><a routerLink="/products-details"><i-feather name="link"></i-feather></a></li>
                        </ul>
                    </div>
                    <div class="products-content">
                        <h3><a routerLink="/products-details">Coffee Bag</a></h3>
                        <span>$414.00</span>
                        <ul>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-2"></i></li>
                            <li><i class="flaticon-star-2"></i></li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-products">
                    <div class="products-image">
                        <img src="assets/img/shop-image/5.jpg" alt="image">
                        <ul>
                            <li><a routerLink="/products"><i-feather name="heart"></i-feather></a></li>
                            <li><a routerLink="/products-details"><i-feather name="link"></i-feather></a></li>
                        </ul>
                    </div>
                    <div class="products-content">
                        <h3><a routerLink="/products-details">Single Chair</a></h3>
                        <span>$132.00</span>
                        <ul>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-2"></i></li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-products">
                    <div class="products-image">
                        <img src="assets/img/shop-image/6.jpg" alt="image">
                        <ul>
                            <li><a routerLink="/products"><i-feather name="heart"></i-feather></a></li>
                            <li><a routerLink="/products-details"><i-feather name="link"></i-feather></a></li>
                        </ul>
                    </div>
                    <div class="products-content">
                        <h3><a routerLink="/products-details">Business Card</a></h3>
                        <span>$214.00</span>
                        <ul>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star"></i></li>
                            <li><i class="flaticon-star-2"></i></li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-products">
                    <div class="products-image">
                        <img src="assets/img/shop-image/7.jpg" alt="image">
                        <ul>
                            <li><a routerLink="/products"><i-feather name="heart"></i-feather></a></li>
                            <li><a routerLink="/products-details"><i-feather name="link"></i-feather></a></li>
                        </ul>
                    </div>
                    <div class="products-content">
                        <h3><a routerLink="/products-details">Book Cover</a></h3>
                        <span>$500.00</span>
                        <ul>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star"></i></li>
                            <li><i class="flaticon-star-2"></i></li>
                            <li><i class="flaticon-star-2"></i></li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-products">
                    <div class="products-image">
                        <img src="assets/img/shop-image/8.jpg" alt="image">
                        <ul>
                            <li><a routerLink="/products"><i-feather name="heart"></i-feather></a></li>
                            <li><a routerLink="/products-details"><i-feather name="link"></i-feather></a></li>
                        </ul>
                    </div>
                    <div class="products-content">
                        <h3><a routerLink="/products-details">Wall Watch</a></h3>
                        <span>$129.00</span>
                        <ul>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-1"></i></li>
                            <li><i class="flaticon-star-2"></i></li>
                        </ul>
                        <a routerLink="/cart" class="add-to-cart-btn">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="pagination-area">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" routerLink="/products">Prev</a></li>
                        <li class="page-item active"><a class="page-link" routerLink="/products">1</a></li>
                        <li class="page-item"><a class="page-link" routerLink="/products">2</a></li>
                        <li class="page-item"><a class="page-link" routerLink="/products">3</a></li>
                        <li class="page-item"><a class="page-link" routerLink="/products">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>