/*main-banner-css*/
.bigdata-analytics-banner {
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
    padding: {
        top: 280px;
        bottom: 25px;
    };
}
.bigdata-analytics-content {
    max-width: 555px;

    h1 {
        color: var(--whiteColor);
        margin-bottom: 25px;
        line-height: 1.4;
        font: {
            size: 50px;
            weight: 700;
        };
    }
    p {
        color: #e9e9e9;
        max-width: 470px;
        font: {
            size: 15px;
        };
    }
    .btn {
        margin-top: 18px;
    }
}
.banner-boxes-area {
    margin-top: 230px;
}
.single-banner-boxes {
    margin-bottom: 30px;
    border: 1px dashed #687b6f;
    position: relative;
    border-radius: 5px;
    padding: 25px 25px 25px 95px;
    background-color: rgba(0, 0, 0, .50);
    transition: var(--transition);
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 5px;
        background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
        z-index: -1;
        opacity: 0;
        margin: -1px;
        visibility: hidden;
        transition: var(--transition);
    }
    .icon {
        display: inline-block;
        text-align: center;
        width: 55px;
        height: 55px;
        position: absolute;
        left: 20px;
        top: 25px;
        line-height: 55px;
        background: #cdf1d8;
        border-radius: 50%;
        color: var(--mainColor);
        transition: var(--transition);
    }
    h3 {
        color: var(--whiteColor);
        margin-bottom: 12px;
        font: {
            size: 18px;
            weight: 600;
        };
    }
    p {
        color: #dadada;
        transition: var(--transition);
    }
    &:hover {
        background-color: transparent;
        border-color: transparent;

        .icon {
            color: var(--mainColor);
            background-color: var(--whiteColor);
        }
        &::before {
            opacity: 1;
            visibility: visible;
        }
        p {
            color: var(--whiteColor);
        }
    }
}
.col-lg-4 {
    &:nth-child(2) {
        .single-banner-boxes {
            .icon {
                color: #f78acb;
                background: #f9f4f7;
            }
            &:hover {
                .icon {
                    background-color: var(--whiteColor);
                    color: #f78acb;
                }
            }
        }
    }
    &:nth-child(3) {
        .single-banner-boxes {
            .icon {
                color: var(--purpleColor);
                background: #edc3fc;
            }
            &:hover {
                .icon {
                    background-color: var(--whiteColor);
                    color: var(--purpleColor);
                }
            }
        }
    }
}

.single-services-box {
    border-radius: 5px;
    position: relative;
    margin-bottom: 30px;
    background: var(--whiteColor);
    transition: var(--transition);
    padding: {
        top: 30px;
        left: 20px;
        right: 20px;
        bottom: 30px;
    };
    h3 {
        font-size: 18px;
        margin: {
            top: 25px;
            bottom: 15px;
        };
    }
    .icon {
        width: 55px;
        height: 55px;
        line-height: 55px;
        text-align: center;
        border-radius: 50%;
        background: #cdf1d8;
        color: var(--mainColor);
        transition: var(--transition);

        &.bg-c679e3 {
            color: var(--purpleColor);
            background: #edc3fc;
        }
        &.bg-eb6b3d {
            color: #eb6b3d;
            background: rgba(235, 107, 61, .3);
        }
    }
    &::before, &::after {
        width: 0;
        bottom: 0;
        opacity: 0;
        content: '';
        height: 4px;
        visibility: hidden;
        position: absolute;
        background: var(--mainColor);
        transition: var(--transition);
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);

        .icon {
            background: var(--mainColor);
            color: var(--whiteColor);

            &.bg-c679e3 {
                background: var(--purpleColor);
            }
            &.bg-eb6b3d {
                background: #eb6b3d;
            }
        }
        &::after, &::before {
            visibility: visible;
            opacity: 1;
            width: 50%;
        }
    }
}


/*services-details*/
.services-details-desc {
    h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .features-details-list {
        padding: 0;
        margin: 20px 0 0;
        list-style-type: none;

        li {
            margin-bottom: 12px;
            color: var(--paragraphColor);
            position: relative;
            padding-left: 15px;

            &::before {
                background: var(--mainColor);
                width: 8px;
                height: 8px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                content: '';
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.separate {
    margin-top: 80px;
}
.services-details-image {
    text-align: center;
}

/*funfacts*/
.funfacts-area {
    position: relative;
    z-index: 1;

    .section-title {
        h2 {
            max-width: 520px;
            margin: 0 auto;
            line-height: 37px;
        }
    }
    .map-bg {
        position: absolute;
        z-index: -1;
        top: 120px;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
    }
    &.bg-image {
        position: relative;
        z-index: 1;
        background: {
            image: url(../../../../assets/senselive/energybg.jpg);
            position: center center;
            size: cover;
            repeat: no-repeat;
        };
        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            background-color: rgba(1, 1, 21, 0.5);
            opacity: 0.86;
        }
        .section-title {
            h2 {
                color: var(--whiteColor);
            }
            p {
                color: var(--whiteColor);
            }
        }
        .contact-cta-box {
            border-color: #406883;

            h3 {
                color: var(--whiteColor);
            }
            p {
                color: var(--whiteColor);
            }
        }
    }
}
.single-funfact {
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, .20);

    h3 {
        color: var(--mainColor);
        margin-bottom: 7px;
        font-size: 32px;
    }
    p {
        line-height: initial;
        color: var(--whiteColor);
    }
}
.contact-cta-box {
    margin: 80px auto 0;
    max-width: 600px;
    border: 1px dashed #ebebeb;
    padding: 30px 210px 30px 30px;
    border-radius: 5px;
    position: relative;

    h3 {
        font-size: 20px;
        margin-bottom: 6px;
    }
    p {
        margin-bottom: 0;
    }
    .btn {
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -27px;

        &::before, &::after {
            background: var(--mainColor);
        }
    }
    .btn-primary {
        background: var(--purpleColor);
        box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);

        &:hover, &:focus {
            box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
        }
    }
}


@media only screen and (max-width: 767px) {

    .features-details-image {
        order: 1;
        margin-bottom: 30px;
    }
    .services-details-desc {
        h3 {
            font-size: 18px;
        }
    }
    .services-details-image {
        order: 1;
        margin-bottom: 30px;
    }
    .services-details {
        order: 2;
    }
    .separate {
        margin-top: 30px;
    }

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .services-details {
        order: 2;
    }
    .services-details-image {
        order: 1;
        margin-bottom: 40px;
    }
    .separate {
        margin-top: 40px;
    }
    .features-details-image {
        order: 1;
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (min-width: 1550px) {

}
