<app-navbar-style-one></app-navbar-style-one>

<div class="iot-cta-area">
    <div class="container mt-5 mb-5 ">
        <div class="row align-items-center" style="margin-top: 40px;">
            <div class="col-lg-6 mt-5" style="padding: 0 20px;">
                <div class="cta-iot-content">
                    <h3 style="font-size: 24px; color: #333;">SenseLive Indoor PoE Gateway SL2304
                        </h3>
                    <h5 style="font-size: 18px; color: #666;">Safety, Security & Surveillance</h5>
                    <p style="font-size: 16px; color: #444; line-height: 1.6;">SenseLive is a BLE (Bluetooth Low Energy) to POE (Power over Ethernet) Gateway. It supports BLE 5.0, 2.4GHz WIFI, and Ethernet, offering both wireless and wired connectivity. Seamlessly connect to your cloud server via MQTT protocol. As a vital data bridge, SL2304 efficiently gathers nearby beacon advertising data and transmits it to your server via WIFI or Ethernet. Ideal for cost-effective, real-time location services, condition monitoring, asset tracking, and personal safety management.
                    </p>
                    <a href="https://drive.google.com/file/d/1GDWQcCnPCQ0AUGUvPmmQEcZANZB569Ms/view" target="_blank"
                        style="display: inline-block; color:  #59aef9; text-decoration: none; font-size: 16px; padding: 10px 20px; border-radius: 5px; margin-top: 15px; border: 1px solid  #59aef9;">Download
                        Brochure</a>
                </div>
            </div>
            <div class="col-lg-6 mt-5" style="display: flex; justify-content: center; align-items: center;">
                <div class="cta-iot-img">
                    <img src="../../../../assets/senselive/poe.png" class="animate__animated animate__fadeInUp"
                        style="max-width: 100%; height: auto;">
                </div>
            </div>
        </div>

        <div style="margin-top: 40px;">
            <h2 style="text-align: center; font-size: 28px; color: #333; margin-bottom: 20px;">Key Features</h2>
            <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
              <div style="flex: 1 1 calc(50% - 20px); padding: 20px; background-color: #f9f9f9; border: 1px solid #e0e0e0; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-bottom: 20px;">
                <ul style="list-style-type: none; padding: 0;">
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">Dual Connectivity (BLE 5.0 and 2.4GHz Wi-Fi):</strong> Flexible and robust wireless communication.
                  </li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">POE Powered with Cascading:</strong> Simplifies power and network management, supporting up to 5 gateways.
                  </li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">Cloud Integration via MQTT:</strong> Efficient data transmission to the cloud.
                  </li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">Remote Management:</strong> Bi-directional communication for enhanced control.
                  </li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">Secure and Durable:</strong> Robust encryption and rugged ABS+PC casing.
                  </li>
                </ul>
              </div>
            </div>
        </div>
          
        <div style="margin-top: 40px;">
            <h2 style="text-align: center; font-size: 28px; color: #333; margin-bottom: 20px;">Applications</h2>
            <div style="display: flex; flex-wrap: wrap; justify-content: space-between;">
              <div style="flex: 1 1 calc(50% - 20px); padding: 20px; background-color: #f9f9f9; border: 1px solid #e0e0e0; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-bottom: 20px;">
                <ul style="list-style-type: none; padding: 0;">
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">Industrial Automation:</strong> Monitor and track assets and conditions in real time to optimize industrial operations.
                  </li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">Healthcare:</strong> Enhance patient safety and asset management within healthcare facilities.
                  </li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">Logistics:</strong> Track shipments and manage inventory with real-time data.
                  </li>
                  <li style="margin-bottom: 15px; font-size: 18px; color: #555;">
                    <strong style="color: #333;">Retail:</strong> Improve customer experience and operational efficiency through real-time tracking.
                  </li>
                </ul>
              </div>
            </div>
        </div>
          
        <h2 style="text-align: center; font-size: 28px; color: #333; margin-bottom: 20px;">Technical Specifications</h2>
        <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
            <tr>
              <th colspan="2" style="background-color: #f0f8ff; color: #333; padding: 10px; border: 1px solid #ddd; text-align: center;">Mechanics</th>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Material</td>
              <td style="padding: 10px; border: 1px solid #ddd;">ABS+PC</td>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Color</td>
              <td style="padding: 10px; border: 1px solid #ddd;">White</td>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Dimension (L*W*H)</td>
              <td style="padding: 10px; border: 1px solid #ddd;">4.72 x 4.72 x 0.89 inches (120 x 120 x 22.5 mm)</td>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">LED indicator</td>
              <td style="padding: 10px; border: 1px solid #ddd;">3* intelligent RGB LED</td>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Button</td>
              <td style="padding: 10px; border: 1px solid #ddd;">1* power button and 1* reset button</td>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Interfaces</td>
              <td style="padding: 10px; border: 1px solid #ddd;">1* Micro USB, 1* POE in, 1* POE out</td>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Antenna</td>
              <td style="padding: 10px; border: 1px solid #ddd;">1* external 2.4GHz BLE antenna</td>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Battery</td>
              <td style="padding: 10px; border: 1px solid #ddd;">1* 1100 mAH Li-on rechargeable battery (optional)</td>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Installation</td>
              <td style="padding: 10px; border: 1px solid #ddd;">Horizontal, hanging on wall or ceiling</td>
            </tr>
          
            <tr>
              <th colspan="2" style="background-color: #f0f8ff; color: #333; padding: 10px; border: 1px solid #ddd; text-align: center;">Environment</th>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Operating temperature</td>
              <td style="padding: 10px; border: 1px solid #ddd;">-30 °C~50°C</td>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Storage temperature</td>
              <td style="padding: 10px; border: 1px solid #ddd;">-40 °C~60°C</td>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Humidity</td>
              <td style="padding: 10px; border: 1px solid #ddd;">Maximum 95% non-condensing RH</td>
            </tr>
          
            <tr>
              <th colspan="2" style="background-color: #f0f8ff; color: #333; padding: 10px; border: 1px solid #ddd; text-align: center;">Power</th>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Micro USB</td>
              <td style="padding: 10px; border: 1px solid #ddd;">5V/1A</td>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">POE</td>
              <td style="padding: 10px; border: 1px solid #ddd;">IEEE 802.3af</td>
            </tr>
          </table>

          <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
            <tr>
              <th colspan="2" style="background-color: #f0f8ff; color: #333; padding: 10px; border: 1px solid #ddd; text-align: center;">MCU</th>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;"> MCU	</td>
              <td style="padding: 10px; border: 1px solid #ddd;">ESP32-WROOM-32E</td>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Flash</td>
              <td style="padding: 10px; border: 1px solid #ddd;">4M</td>
            </tr>
            <tr>
                <td style="padding: 10px; border: 1px solid #ddd;">RAM</td>
                <td style="padding: 10px; border: 1px solid #ddd;">512 KB SRAM</td>
              </tr>
          
            <tr>
              <th colspan="2" style="background-color: #f0f8ff; color: #333; padding: 10px; border: 1px solid #ddd; text-align: center;">WIFI</th>
            </tr>
            
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Band</td>
              <td style="padding: 10px; border: 1px solid #ddd;">	2.4GHz</td>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Protocol	</td>
              <td style="padding: 10px; border: 1px solid #ddd;">802.11 b/g/n</td>
            </tr>
          
            <tr>
              <th colspan="2" style="background-color: #f0f8ff; color: #333; padding: 10px; border: 1px solid #ddd; text-align: center;">Bluetooth</th>
            </tr>
        
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Module</td>
              <td style="padding: 10px; border: 1px solid #ddd;">ESP32-C3-MINI-1U</td>
            </tr>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Bluetooth Protocol	</td>
              <td style="padding: 10px; border: 1px solid #ddd;">BLE 5.0 (support 1M/2M/Coded LE PHY)</td>
            </tr>
            <tr>
                <td style="padding: 10px; border: 1px solid #ddd;">Bluetooth Mode	</td>
                <td style="padding: 10px; border: 1px solid #ddd;">Scanning and advertising</td>
              </tr>
              <tr>
                <td style="padding: 10px; border: 1px solid #ddd;">Scanning Range</td>
                <td style="padding: 10px; border: 1px solid #ddd;">About 200 meters in an open space</td>
              </tr>

            <tr>
                <th colspan="2" style="background-color: #f0f8ff; color: #333; padding: 10px; border: 1px solid #ddd; text-align: center;">Communication</th>
              </tr>
              <tr>
                <td style="padding: 10px; border: 1px solid #ddd;">Protocol	</td>
                <td style="padding: 10px; border: 1px solid #ddd;">MQTT V3.1.1</td>
              </tr>
              <tr>
                <td style="padding: 10px; border: 1px solid #ddd;">Encryption</td>
                <td style="padding: 10px; border: 1px solid #ddd;">SSL/TLS</td>
              </tr>
              <tr>
                <td style="padding: 10px; border: 1px solid #ddd;">Format</td>
                <td style="padding: 10px; border: 1px solid #ddd;">JSON</td>
              </tr>
            </table>          
        

    </div>

    
</div>