<app-navbar-style-one></app-navbar-style-one>

<!-- Main Banner -->
<div class="repair-main-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="repair-banner-content">
                    <h1>Unlock factory potential with Industrial 4.0 Solutions.</h1>
                    <p>Connecting your machines with Senselive edge devices allows seamless data collection and transfer
                        to the cloud. Our AI-driven system provides clear, concise factory insights through easy-to-read
                        dashboards and reports, offering future predictions for enhanced decision-making without human
                        interference.</p>
                    <a routerLink="/solution" class="btn btn-primary">Discover Senselive</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="repair-banner-image">
                    <img src="assets/senselive/animation2.gif">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services -->
<div class="hosting-features-area ptb-80 bg-white">
    <div class="container">
        <div class="section-title">
            <h2>Industrial IoT's SenseLive Solutions</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon">
                        <img src="../../../../assets/senselive/energymanagement.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3><a routerLink="/energy">Energy Management System</a></h3>
                    <p>Our Energy Management System ensures continuous energy optimization, reducing wastage and
                        boosting your bottom line.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon">
                        <img src="../../../../assets/senselive/realtime.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3><a routerLink="/realtime">Real Time Production Productivity Monitoring</a></h3>
                    <p>Realize your factory's true potential, maximize productivity and profits in your factory
                        operations.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon">
                        <img src="../../../../assets/senselive/machinemonitoring.png" style="height: 45px; width: 45px;">
                    </div>
                    <h3><a routerLink="/asset">Asset and Machine Monitoring</a></h3>
                    <p>Monitor machines and assets, control real-time performance, reduce energy costs, minimize downtime, and manage maintenance.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon">
                        <img src="../../../../assets/senselive/productiontracking.png" style="height: 45px; width: 45px;">
                    </div>
                    <h3><a routerLink="/production">Production Down Time Tracking</a></h3>
                    <p>Production Down Time Analysis offer several significant benefits for industrial operations.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon">
                        <img src="../../../../assets/senselive/predictivemaintainance.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3><a routerLink="/predictive">Predictive Maintenance</a></h3>
                    <p>Predictive and Descriptive Maintenance offer several significant benefits for industrial
                        operations.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-hosting-features">
                    <div class="icon">
                        <img src="../../../../assets/senselive/waterconservation.png" style="height: 40px; width: 40px;">
                    </div>
                    <h3><a routerLink="/water">Water Management System</a></h3>
                    <p>Monitor machines and assets, control real-time performance, reduce energy costs, minimize
                        downtime, and manage maintenance.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Why Choose US -->
<div class="why-choose-us ptb-80 pt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-title">
                    <h2>Why Choose Us</h2>
                    <div class="bar"></div>
                    <p>SenseLive opens the window to discover and unlock hidden potential in your factory through
                        cutting-edge Industry 4.0 solutions, transforming it into a smart facility with a simple click.
                    </p>
                    <img src="../../../../assets/senselive/whychooseus.png" style="height: 400px; width: 400px;"
                        class="pt-3">
                </div>
                <!-- Image -->
            </div>
            <div class="col-lg-6 col-md-12">
                <div _ngcontent-ng-c3468250856="" class="row">
                    <div _ngcontent-ng-c3468250856="" class="col-lg-6 col-md-6 col-sm-6">
                        <div _ngcontent-ng-c3468250856="" class="single-why-choose-us">
                            <h3 _ngcontent-ng-c3468250856="">Platforms</h3>
                            <ul _ngcontent-ng-c3468250856="" class="whylist" style="font-size: 15px; text-align: left;">
                                <li _ngcontent-ng-c3468250856="">Senso</li>
                                <li _ngcontent-ng-c3468250856="">Energy Management System</li>
                                <li _ngcontent-ng-c3468250856="">Smart Check List</li>
                                <li _ngcontent-ng-c3468250856="">Work Permit System</li>
                            </ul>
                        </div>
                    </div>
                    <div _ngcontent-ng-c3468250856="" class="col-lg-6 col-md-6 col-sm-6">
                        <div _ngcontent-ng-c3468250856="" class="single-why-choose-us">
                            <h3 _ngcontent-ng-c3468250856="">Benefits</h3>
                            <ul _ngcontent-ng-c3468250856="" class="whylist" style="font-size: 15px; text-align: left;">
                                <li _ngcontent-ng-c3468250856="">Digital Transformation</li>
                                <li _ngcontent-ng-c3468250856="">Continuous Improvement</li>
                                <li _ngcontent-ng-c3468250856="">Corporate Image</li>
                            </ul>
                        </div>
                    </div>
                    <div _ngcontent-ng-c3468250856="" class="col-lg-6 col-md-6 col-sm-6">
                        <div _ngcontent-ng-c3468250856="" class="single-why-choose-us">
                            <h3 _ngcontent-ng-c3468250856="">Cost Advantage</h3>
                            <ul _ngcontent-ng-c3468250856="" class="whylist" style="font-size: 15px; text-align: left;">
                                <li _ngcontent-ng-c3468250856="">Save 30% Energy Cost</li>
                                <li _ngcontent-ng-c3468250856="">Environment Health Safety</li>
                                <li _ngcontent-ng-c3468250856="">Reduce 30% Maintence cost</li>
                                <li _ngcontent-ng-c3468250856="">Improve OEE by reducing down time </li>
                            </ul>
                        </div>
                    </div>
                    <div _ngcontent-ng-c3468250856="" class="col-lg-6 col-md-6 col-sm-6">
                        <div _ngcontent-ng-c3468250856="" class="single-why-choose-us">
                            <h3 _ngcontent-ng-c3468250856="">Edge IOT Devices</h3>
                            <ul _ngcontent-ng-c3468250856="" class="whylist" style="font-size: 15px; text-align: left;">
                                <li _ngcontent-ng-c3468250856="">Modsense</li>
                                <li _ngcontent-ng-c3468250856="">GatewayX</li>
                                <li _ngcontent-ng-c3468250856="">Pulsewave</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Partner -->
<div class="agency-portfolio-partner-area ptb-80">
    <div class="container-fluid">
        <p style="color:rgb(0, 0, 0); text-align: center; font-weight: bold; font-size: 35px;">Our Clients</p>
        <div class="agency-portfolio-partner-slides pt-3">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/elkemlogo.jpg" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/firstwires.png" alt="image" height="100px">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/kapilanshlogo.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/Haldiram.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/bansal.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/ceattyres.jpg" style="height: 100px; width: 100px;">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/multiflex.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/coalindia.png" alt="image"
                                style="height: 100px; width: 100px;">
                        </a>
                    </div>
                </ng-template>
                <!-- <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/bansal.png" alt="image">
                        </a>
                    </div>
                </ng-template> -->
                <ng-template carouselSlide>
                    <div class="single-agency-portfolio-partner">
                        <a href="#" target="_blank">
                            <img src="../../../../assets/senselive/indorama.jpeg" alt="image">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- customer quotes -->
<div class="bigdata-feedback-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>Customer Quotes </h2>
            <div class="bar"></div>
            <p>SenseLive helps customers to drive their industrial IoT transformation and deliver innovative products to
                the market.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-feedback-box">
                    <div class="feedback-desc">
                        <p>Working with SenseLive on various Industry 4.0 and plant digitization projects has been a
                            remarkable experience. Their team is highly dynamic and professional, and the solutions they
                            deliver are of top-notch quality. Moreover, they are always open to feedback, making it a
                            collaborative and successful partnership.</p>
                    </div>
                    <div class="client-info">
                        <img src="assets/img/elkem.png" alt="image">
                        <h3>Elkem</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-feedback-box">
                    <div class="feedback-desc">
                        <p>At Coal India, we successfully implemented SenseLive's Water Management System, allowing us
                            to capture water data from multiple sites without the need for extensive wiring. This data
                            is seamlessly displayed at our headquarters, enhancing our water management capabilities,
                            overall increasing efficiency and more effectively.</p>
                    </div>
                    <div class="client-info">
                        <img src="assets/img/CoalIndia.png" alt="image">
                        <h3>Coal India</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-feedback-box">
                    <div class="feedback-desc">
                        <p>Salasar Alloy and Steel Industries Pvt. Ltd. has greatly benefited from SenseLive's
                            industry-specific solutions tailored to our unique company culture. The dashboards provided
                            are incredibly user-friendly, and they encompass all the crucial Key Performance Indicators
                            (KPIs), making data analysis and decision-making a breeze.</p>
                    </div>
                    <div class="client-info">
                        <img src="assets/img/kapilansh.jpeg" alt="image">
                        <h3>Salasar Alloy and Steel Industries</h3>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-feedback-box">
                    <div class="feedback-desc">
                        <p>SenseLive's customers in the manufacturing industry benefit from increased operational efficiency, reduced downtime, and data-driven insights, enabling them to stay competitive in a rapidly evolving landscape.</p>
                    </div>
                    <div class="client-info">
                        <img src="assets/img/ceattyres1.png" alt="image">
                        <h3>CEAT Tyres</h3>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<!-- Blog -->
<div class="blog-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>See Our Blogs</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a>
                            <img src="../../../../assets/senselive/iotblog.png" alt="image"
                                style="height: 200px; width: 400px;">
                        </a>
                        <div class="date">
                            <i-feather name="calendar"></i-feather> March 15, 2024
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3><a>IOT technologies the main trends of 2023?</a></h3>
                        <p>We hear about IoT every day now. But what is it? What are the benefits of its implementation?
                            What are the major challenges faced in IoT? And what are the expected trends for 2023?</p>
                        <a  class="read-more-btn">Read More <i-feather
                                name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a>
                            <img src="../../../../assets/senselive/iotblog2.png" alt="image"
                                style="height: 200px; width: 400px;">
                        </a>
                        <div class="date">
                            <i-feather name="calendar"></i-feather> March 17, 2024
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3><a >The industrial world goes to the Edge</a></h3>
                        <p>By 2025, 75% of data companies generate will be processed locally, close to the point of
                            generation (on-edge), and cloud systems will increasingly support in-depth analysis of
                            aggregated data.
                        </p>
                        <a  class="read-more-btn">Read More <i-feather
                                name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a >
                            <img src="../../../../assets/senselive/iotblog3.jpeg" alt="image"
                                style="height: 200px; width: 400px;">
                        </a>
                        <div class="date">
                            <i-feather name="calendar"></i-feather> March 19, 2024
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3><a>Integrations between IT and OT systems for a holistic view of
                                Factory 4.0</a></h3>
                        <p>SenseLive renewed IoT platform based on AI offers more than just monitoring energy
                            consumption and operational status devices.</p>
                        <a  class="read-more-btn">Read More <i-feather
                                name="arrow-right"></i-feather></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div class="iot-features-area ptb-80 mt-5">
    <div class="container">
        <div class="section-title">
            <h2>About Senselive</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 iot-features-content">
                <p>SenseLive Technologies is the leading provider of end-to-end IoT solutions for industries seeking to
                    optimize their processes in the Fourth Industrial Revolution. We specialize in IoT architecture
                    development that helps convert traditional industries into smart industries, improving performance,
                    reducing downtime, and increasing productivity through remote diagnostics, troubleshooting,
                    condition monitoring capabilities, and predictive maintenance. Our team of IoT experts works closely
                    with clients to deliver customized solutions that meet their specific needs, backed by exceptional
                    customer service and support. Trust SenseLive Technologies to help your business stay ahead of the
                    curve and realize the transformative potential of IoT technology.</p>
                <a routerLink="/about-1" class="btn btn-primary mt-2">Learn More</a>
            </div>
            <div class="col-lg-6 iot-features-image">
                <img src="assets/senselive/about1.jpg" class="animate__animated animate__fadeInUp" alt="image">
            </div>
        </div>

    </div>
</div>

<!-- Funfacts -->
<div _ngcontent-ng-c3468250856="" class="funfacts-area ptb-80">
    <div _ngcontent-ng-c3468250856="" class="container">
        <div _ngcontent-ng-c3468250856="" class="section-title">
            <h2 _ngcontent-ng-c3468250856="">Our Impact</h2>
        </div>
        <div _ngcontent-ng-c3468250856="" class="row">
            <div _ngcontent-ng-c3468250856="" class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div _ngcontent-ng-c3468250856="" class="funfact">
                    <h3 _ngcontent-ng-c3468250856=""><span _ngcontent-ng-c3468250856="">1,000</span>+</h3>
                    <p _ngcontent-ng-c3468250856="">Number of Devices Installed</p>
                </div>
            </div>
            <div _ngcontent-ng-c3468250856="" class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div _ngcontent-ng-c3468250856="" class="funfact">
                    <h3 _ngcontent-ng-c3468250856=""><span _ngcontent-ng-c3468250856="">10</span>Cr+</h3>
                    <p _ngcontent-ng-c3468250856="">Data points Handeled Per Day</p>
                </div>
            </div>
            <div _ngcontent-ng-c3468250856="" class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div _ngcontent-ng-c3468250856="" class="funfact">
                    <h3 _ngcontent-ng-c3468250856=""><span _ngcontent-ng-c3468250856="">25</span>+</h3>
                    <p _ngcontent-ng-c3468250856="">MNCs Collaboration</p>
                </div>
            </div>
            <div _ngcontent-ng-c3468250856="" class="col-lg-3 col-md-3 col-6 col-sm-3">
                <div _ngcontent-ng-c3468250856="" class="funfact">
                    <h3 _ngcontent-ng-c3468250856=""><span _ngcontent-ng-c3468250856="">5</span>+</h3>
                    <p _ngcontent-ng-c3468250856="">Years of Experience</p>
                </div>
            </div>
        </div>
        <div _ngcontent-ng-c3468250856="" class="contact-cta-box">
            <h3 _ngcontent-ng-c3468250856="">Have any question about us?</h3>
            <p _ngcontent-ng-c3468250856="">Don't hesitate to contact us</p><a _ngcontent-ng-c3468250856=""
                routerlink="/contact" class="btn btn-primary" href="/contact">Contact Us</a>
        </div>
        <div _ngcontent-ng-c3468250856="" class="map-bg"><img _ngcontent-ng-c3468250856="" src="assets/img/map.png"
                alt="map"></div>
    </div>
</div>