<app-navbar-style-one></app-navbar-style-one>

<div _ngcontent-ng-c528047134="" class="iot-features-area ptb-80 mt-5">
    <div _ngcontent-ng-c528047134="" class="container">
        <div _ngcontent-ng-c528047134="" class="row align-items-center">
            <div _ngcontent-ng-c528047134="" class="col-lg-6 iot-features-content">
                <h3 _ngcontent-ng-c528047134="">About Senselive </h3>
                <p _ngcontent-ng-c528047134="">SenseLive is a pioneering technology company specializing in Industrial
                    Internet of Things (IIoT) solutions and Industry 4.0 applications. The company is dedicated to
                    helping industrial businesses transform their operations, enhance productivity, and reduce downtime
                    through innovative IoT and AI-powered technologies. </p>
            </div>
            <div _ngcontent-ng-c528047134="" class="col-lg-6 iot-features-image"><img _ngcontent-ng-c528047134=""
                    src="assets/senselive/about1.jpg" alt="image" class="animate__animated animate__fadeInUp"></div>
        </div>
        <div _ngcontent-ng-c528047134="" class="shape1"><img _ngcontent-ng-c528047134="" src="assets/img/shape1.png"
                alt="shape"></div>
        <div _ngcontent-ng-c528047134="" class="shape2 rotateme"><img _ngcontent-ng-c528047134=""
                src="assets/img/shape2.svg" alt="shape"></div>
        <div _ngcontent-ng-c528047134="" class="shape3"><img _ngcontent-ng-c528047134="" src="assets/img/shape3.svg"
                alt="shape"></div>
        <div _ngcontent-ng-c528047134="" class="shape4"><img _ngcontent-ng-c528047134="" src="assets/img/shape4.svg"
                alt="shape"></div>
        <div _ngcontent-ng-c528047134="" class="shape6 rotateme"><img _ngcontent-ng-c528047134=""
                src="assets/img/shape4.svg" alt="shape"></div>
        <div _ngcontent-ng-c528047134="" class="shape7"><img _ngcontent-ng-c528047134="" src="assets/img/shape4.svg"
                alt="shape"></div>
        <div _ngcontent-ng-c528047134="" class="shape8 rotateme"><img _ngcontent-ng-c528047134=""
                src="assets/img/shape2.svg" alt="shape"></div>
    </div>
</div>

<div _ngcontent-ng-c528047134="" class="ml-services-area ptb-80">
    <div _ngcontent-ng-c528047134="" class="container">
        <div _ngcontent-ng-c528047134="" class="section-title">
            <h2 _ngcontent-ng-c528047134="">Key Milestones achieved</h2>
            <div _ngcontent-ng-c528047134="" class="bar"></div>
            <p _ngcontent-ng-c528047134="">SenseLive reached a significant milestone by successfully implementing its
                Plug-and-Play IoT architecture in 100 factories, revolutionizing their industrial processes. </p>
        </div>
        <div _ngcontent-ng-c528047134="" class="row">
            <div _ngcontent-ng-c528047134="" class="col-lg-4 col-sm-6 col-md-6">
                <div _ngcontent-ng-c528047134="" class="single-ml-services-box">
                    <div _ngcontent-ng-c528047134="" class="image"><img _ngcontent-ng-c528047134=""
                            src="assets/senselive/senselive_logo.png" style="height: 180px; width: 180px;"></div>
                    <h3 _ngcontent-ng-c528047134=""><a _ngcontent-ng-c528047134="" routerlink="/" href="/">2019</a></h3>
                    <p _ngcontent-ng-c528047134="">SenseLive was founded, setting the stage for specialized Industrial
                        IoT solutions. Significant progress was made in developing SenseLive's IoT hardware and data
                        analytics platform. </p>
                </div>
            </div>
            <div _ngcontent-ng-c528047134="" class="col-lg-4 col-sm-6 col-md-6">
                <div _ngcontent-ng-c528047134="" class="single-ml-services-box">
                    <div _ngcontent-ng-c528047134="" class="image"><img _ngcontent-ng-c528047134=""
                            src="assets/senselive/iotdevices.png" style="height: 180px; width: 180px;"></div>
                    <h3 _ngcontent-ng-c528047134=""><a _ngcontent-ng-c528047134="" routerlink="/" href="/">2022</a></h3>
                    <p _ngcontent-ng-c528047134="">Deploying over 1000+ IoT devices across 10 diverse industries,
                        forging collaborations with 25+ MNCs, we're revolutionizing industrial landscapes with
                        innovation and efficiency, driving digital transformation. </p>
                </div>
            </div>
            <div _ngcontent-ng-c528047134="" class="col-lg-4 col-sm-6 col-md-6">
                <div _ngcontent-ng-c528047134="" class="single-ml-services-box">
                    <div _ngcontent-ng-c528047134="" class="image"><img _ngcontent-ng-c528047134=""
                            src="assets/senselive/dubai.png" style="height: 180px; width: 180px;"></div>
                    <h3 _ngcontent-ng-c528047134=""><a _ngcontent-ng-c528047134="" routerlink="/" href="/">2023</a></h3>
                    <p _ngcontent-ng-c528047134="">In 2023, we successfully initiated operations in the UAE, marking a
                        pivotal strategic expansion into new territories and reinforcing our steadfast dedication to
                        global growth and innovation. </p>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-ng-c528047134="" class="iot-services-area ptb-80">
        <div _ngcontent-ng-c528047134="" class="container">
            <div _ngcontent-ng-c528047134="" class="row">
                <div _ngcontent-ng-c528047134="" class="col-lg-4 col-md-6 col-sm-6">
                    <div _ngcontent-ng-c528047134="" class="single-iot-services">
                        <div _ngcontent-ng-c528047134="" class="section-title">
                            <h2 _ngcontent-ng-c528047134="">Customers</h2>
                        </div>
                        <p _ngcontent-ng-c528047134="">Trusted by customers across many industries operating on global
                            markets. Earning the trust of customers in various sectors. </p><a
                            _ngcontent-ng-c528047134="" routerlink="/customers" href="/customers"><i-feather
                                _ngcontent-ng-c528047134="" name="arrow-right" _nghost-ng-c3061231048=""><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                    class="feather feather-arrow-right">
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <polyline points="12 5 19 12 12 19"></polyline>
                                </svg></i-feather></a>
                    </div>
                </div>
                <div _ngcontent-ng-c528047134="" class="col-lg-4 col-md-6 col-sm-6">
                    <div _ngcontent-ng-c528047134="" class="single-iot-services">
                        <div _ngcontent-ng-c528047134="" class="section-title">
                            <h2 _ngcontent-ng-c528047134="">Work with Us</h2>
                        </div>
                        <p _ngcontent-ng-c528047134="">We’re IoT experts transforming the digital landscape and enabling
                            a new industrial age to your Career join our team to grow your career </p><a
                            _ngcontent-ng-c528047134="" routerlink="/contact" href="/contact"><i-feather
                                _ngcontent-ng-c528047134="" name="arrow-right" _nghost-ng-c3061231048=""><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                    class="feather feather-arrow-right">
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <polyline points="12 5 19 12 12 19"></polyline>
                                </svg></i-feather></a>
                    </div>
                </div>
                <div _ngcontent-ng-c528047134="" class="col-lg-4 col-md-6 col-sm-6">
                    <div _ngcontent-ng-c528047134="" class="single-iot-services">
                        <div _ngcontent-ng-c528047134="" class="section-title">
                            <h2 _ngcontent-ng-c528047134="">Partners</h2>
                        </div>
                        <p _ngcontent-ng-c528047134="">We continually foster relationships with industrial experts,
                            technology leaders, and consultants to deliver results that exceed our clients’
                            expectations. </p><a _ngcontent-ng-c528047134="" routerlink="/partners"
                            href="/partners"><i-feather _ngcontent-ng-c528047134="" name="arrow-right"
                                _nghost-ng-c3061231048=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                    class="feather feather-arrow-right">
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                    <polyline points="12 5 19 12 12 19"></polyline>
                                </svg></i-feather></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-ng-c528047134="" class="shape1"><img _ngcontent-ng-c528047134="" src="assets/img/shape1.png"
            alt="shape"></div>
    <div _ngcontent-ng-c528047134="" class="shape2 rotateme"><img _ngcontent-ng-c528047134=""
            src="assets/img/shape2.svg" alt="shape"></div>
    <div _ngcontent-ng-c528047134="" class="shape3"><img _ngcontent-ng-c528047134="" src="assets/img/shape3.svg"
            alt="shape"></div>
    <div _ngcontent-ng-c528047134="" class="shape4"><img _ngcontent-ng-c528047134="" src="assets/img/shape4.svg"
            alt="shape"></div>
    <div _ngcontent-ng-c528047134="" class="shape6 rotateme"><img _ngcontent-ng-c528047134=""
            src="assets/img/shape4.svg" alt="shape"></div>
    <div _ngcontent-ng-c528047134="" class="shape7"><img _ngcontent-ng-c528047134="" src="assets/img/shape4.svg"
            alt="shape"></div>
    <div _ngcontent-ng-c528047134="" class="shape8 rotateme"><img _ngcontent-ng-c528047134=""
            src="assets/img/shape2.svg" alt="shape"></div>
</div>

<!-- Team -->
<div class="team-area ptb-80 bg-f9f6f6">
    <div class="container">
        <div class="section-title">
            <h2>Our Awesome Team</h2>
            <div class="bar"></div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="team-slides">
            <owl-carousel-o [options]="teamSlides">
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="../../../../assets/senselive/abhijeetbhoyar.jpeg" alt="image" style="height: 125px; width: 125px;">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Abhijeet Bhoyar</h3>
                                <span>CEO & Founder</span>
                            </div>
                            <!-- <ul>
                                <li><a href="#" target="_blank"><i-feather name="facebook"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="twitter"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                                <li><a href="#" target="_blank"><i-feather name="gitlab"></i-feather></a></li>
                            </ul> -->
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="../../../../assets/senselive/mayurdafare.jpeg" alt="image" style="height: 125px; width: 125px;">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Mayur Dafare</h3>
                                <span>CTO & Founder</span>
                            </div>
                            
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="../../../../assets/senselive/sandeshwaghmare.jpeg" alt="image" style="height: 125px; width: 125px;">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3 style="font-size: 15px;">Sandesh Waghmare</h3>
                                <span>Chief Project Officer</span>
                            </div>
                            
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="../../../../assets/senselive/gauravpawar.jpeg" alt="image" style="height: 125px; width: 125px;">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Gaurav Pawar</h3>
                                <span>Sales Head</span>
                            </div>
                            
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="../../../../assets/senselive/kaushalpohekar.jpeg" alt="image" style="height: 125px; width: 125px;">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Kaushal Pohekar</h3>
                                <span>Software Developer</span>
                            </div>
                            
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>

    <div class="container">
        <div class="section-title">
            <h2>Our Advisors</h2>
            <div class="bar"></div>
        </div>
    </div>
    <div class="container p-0">
        <div class="team-slides">
            <owl-carousel-o [options]="teamSlides">
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="../../../../assets/senselive/anuragwagh.jpeg" alt="image" style="height: 125px; width: 125px;">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Anurag Wagh</h3>
                                <span>Business Development</span>
                            </div>
                            <ul>
                                <li><a href="#" target="_blank"><i-feather name="linkedin"></i-feather></a></li>
                            </ul>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="../../../../assets/senselive/millindchittawar.jpeg" alt="image" style="height: 125px; width: 125px;">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Millind Chittawar</h3>
                                <span>Energy Expert</span>
                            </div>
                            
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="../../../../assets/senselive/atulgupta.jpeg" alt="image" style="height: 125px; width: 125px;">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3 style="font-size: 15px;">Atul Gupta</h3>
                                <span>International Business</span>
                            </div>
                            
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-team">
                        <div class="team-image">
                            <img src="../../../../assets/senselive/pareshparekh.jpeg" alt="image" style="height: 125px; width: 125px;">
                        </div>
                        <div class="team-content">
                            <div class="team-info">
                                <h3>Paresh Parekh</h3>
                                <span>Business Development Advisor</span>
                            </div>
                            
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>

<!-- Features -->
<div class="iot-features-area ptb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 iot-features-image">
                <img src="../../../../assets/senselive/about2.jpg" class="animate__animated animate__fadeInUp" alt="image">
            </div>
            <div class="col-lg-6 iot-features-content">
                <h3>Life At SenseLive
                </h3>
                <p>Get a glimpse at what the day-to-day life at SenseLive looks like. A place where ideas and innovative
                    thinking are always welcomed. As you can see, our office space is as vibrant as our team.</p>
                <p>Yes, it’s true, we provide the world with the most cutting-edge IoT platform, but we sure do have fun
                    doing it.</p>
                <a routerLink="/" class="btn btn-primary">Learn More</a>
            </div>
        </div>
    </div>
</div>